* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 60px !important;
    align-items: center;
    background-color: black;
}

i:hover {
    cursor: pointer !important;
}

.botoes .container {
    padding: 0 !important;
}

.tarefa {
    display: inline-block;
    border: 1px solid black;
}

input {
    border: 3px solid orange;
    margin: 18px !important;
    padding: 12px;
    width: 400px;
    font-size: 24px;
    letter-spacing: 6px;
    border-radius: 10px;

}

input:focus {
    border: 3px solid orange;
    outline: none;
    /*remove a linha externa padrão */
}

.login h2 {
    margin-top: 24px;
    letter-spacing: 6px;
    color: orange;
}

.login {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid orange;
    padding: 48px;
    border-radius: 12px;
    background-color: white;
}

span {
    font-size: 24px;
    color: orange;
    font-weight: bold;
    letter-spacing: 5px;

}

.modal button {

    width: 170px !important;
    height: 60px !important;

}

button {


    border: none;
    background-color: orange;
    width: 300px;
    height: 60px;

    color: white;
    font-size: 24px !important;
    font-weight: bold !important;
    letter-spacing: 6px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    border-radius: 10px !important;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

a {

    padding: 6px;

}

table td,
th {
    padding: 24px !important;
}

header {
    position: fixed;
    top: 0;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 4px;
    z-index: 999;


}

footer {
    position: absolute;
    bottom: 0px;
    background-color: orange;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 4px;

}

.registros {
    margin-top: 25px;
    line-height: 24px;
}

h1 {
    margin: 24px !important;
}

.botoes {
    padding: 0 !important;
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;

}

hr {

    background-color: orange !important;
    height: 5px;
    width: 100%;
}