
.container{
  margin-top: 60px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 50px
  
}
img{
  width: 200px;
  height: 100px;
  border-radius: 12px;
  margin-bottom: 48px;
  margin-top: 48px
}
.btn{
  --bs-btn-color: #fff;
  --bs-btn-bg: rgba(100, 50, 255, 0.25);
  --bs-btn-border-color: rgba(20, 50, 193, 0.25);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgba(150, 55, 255, 0.25);
  --bs-btn-hover-border-color: rgba(200, 50, 255, 0.25);
  --bs-btn-focus-shadow-rgb: 60, 153, 110;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(42, 8, 84);
  --bs-btn-active-border-color: rgba(200, 50, 255, 0.25);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(200, 50, 255, 0.25);
  --bs-btn-disabled-border-color: rgba(200, 50, 255, 0.25);
}
td{
  border: 1px solid black;
  
}
.edit{
  background-color: green;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
}
.excluir{
  background-color: red;
  color: white;
  border: none;
  width: 80px;
  height: 30px;
}
.row{
  background-color: white;
  color: black;
}
td{
  padding: 10px;
}