body{
    margin: 0;
    border: 20px solid yellow;
}

header{
    width: 100vw;
    height: 20vh;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
main{
    width: 100vw;
    height: 60vh;
    background-color: black;
    display: flex;
}
footer{
    width: 100vw;
    height: 10vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white;
    font-size: 30px;
}
aside{
    width: 500px;
    height: 100%;
    background-color: rgb(61, 21, 135);
    color: white;
    font-size: 50px;
}
img{
    width: 1500px;
}
.caixa{
    width: 100vw;
    height: 10xp;
    background-color: black;
    display: flex;
    justify-content: space-around;
    color: white;
}
button{
    font-size: 50px;
    background-color: rgb(61, 21, 135);
    color: white;
}