body{
    height: 96vh;
    width: 98vw;
    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

      /* width */
  ::-webkit-scrollbar {
    height: 12px !important;
     width: 15px !important;
   }
  
   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 3px grey;
     border-radius: 20px;
   }
  
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: rgba(206, 202, 202, 0.979);
     border-radius: 20px;
   }
}

header{
    width: 100%;
    font-size: 22px;
    display: flex;
    justify-content: space-around;
}
.left{
    border-right: 2px solid black;
}
.right{
    border-left: 2px solid black;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 100%;
}
.left{
    height: 100%;
    width: 400px;
    background-color: white;
}
.mid {
    height: 800px;
    width: 1000px;
    font-size: 20px;
}
.right{
    height: 100%;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
button::hover{
    color: #827776;
}
.boxR{
    border: 3px solid black;
    border-radius: 5px;
    padding: 24px;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.posts{
    max-height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    
}