body{
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
    background-image: url("../images/nick-nice-gPm8h3DS1s4-unsplash.jpg");
}
a{
    width: 10%;
    height: 10%;
    font-size: 25px;
    color: black;
    color: white;
    text-decoration: none;
    text-align: center;
}
.box{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20%;
    background-color: rgba(128, 128, 128, 0.455);
}
.caixa{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}