body{
    margin: 0;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    width: 80vw;
    height: 300px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
a{
    background-color: white;
}