
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    margin: 0;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elenco{
    background-image: url("../images/elencovf.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.resumo{
    height: 300px;
    padding-left: 10px;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    width: 120px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    text-decoration: none;
    font-weight: bolder;
    color: white;
    font-size: 30px;
    border-radius: 10px;
}
main{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}