body{
    background-color: rgb(154, 63, 14);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 80vw;
    height: 40vw;
    display: flex;
    margin-top: 100px;
    background-color: rgb(172, 58, 17);
    border-radius: 40px;
}
aside{
    width: 50%;
    height: 100%;
    border-radius: 40px;
}
.texto{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
}
#dois{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 8, 5.35) 0px -50px 36px 13px inset;
}
.caixa{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    width: 80%;
    height: 70px;
    border-radius: 40px;
    margin-bottom: 24px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: rgb(78, 9, 9);
    color: white;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}


